.clients {
    display: flex;
    padding: 94px 0;
}

.clients-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.clients-list__link {
    display: flex;
    height: 92px;
    width: 170px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--social-icon-color);
    background-color: var(--bgc-header);
    border-radius: 4px;
    color: var(--social-icon-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--special-color);
    border-color: var(--special-color);
    }            
}

.clients-list__icon {
    fill: currentColor;

    &:hover,
    &:focus {
    fill: var(--special-color);
    }
}
